.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.actionItem {
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
